<div class="container mt-5">
  <h2 class="text-center mb-4">Mis Locales</h2>

  <div class="d-flex justify-content-end mb-3">
    <button *ngIf="isOwner" (click)="create()" mat-raised-button color="primary" class="d-flex align-items-center">
      <mat-icon class="mr-2">add_circle</mat-icon>
      <span>Crear Venue</span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Es LGBT</th>
          <th scope="col">Instagram</th>
          <th scope="col">Imagen</th>
          <th scope="col">Géneros Musicales</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venue of (venues$ | async)">
          <td>{{ venue.name }}</td>
          <td>{{ venue.phone }}</td>
          <td>{{ venue.LGTBFriendly ? 'Sí' : 'No' }}</td>
          <td>
            <a *ngIf="venue.instagram" [href]="'https://instagram.com/' + venue.instagram" target="_blank" class="text-decoration-none">
              {{ venue.instagram }}
            </a>
            <span *ngIf="!venue.instagram">No disponible</span>
          </td>
          <td>
            <a *ngIf="venue.imageUrl" [href]="venue.imageUrl" target="_blank">
              link
            </a>
            <span *ngIf="!venue.imageUrl">No disponible</span>
          </td>
          <td>
            <ng-container *ngIf="venue.musicGenres.length > 0; else noGenres">
              {{ venue.musicGenres.join(', ') }}
            </ng-container>
            <ng-template #noGenres>
              <span>No disponible</span>
            </ng-template>
          </td>
          <td class="text-center">
            <button mat-icon-button color="accent" class="mr-2" (click)="openEditDialog(venue)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteDialog(venue)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>