<h2 mat-dialog-title>Editar Venue</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="venue.name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput [(ngModel)]="venue.phone" />
  </mat-form-field>

  <mat-checkbox [(ngModel)]="venue.LGTBFriendly">Es LGBT Friendly</mat-checkbox>

  <mat-form-field appearance="fill">
    <mat-label>Instagram</mat-label>
    <input matInput [(ngModel)]="venue.instagram" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Imagen URL</mat-label>
    <input matInput [(ngModel)]="venue.imageUrl" />
  </mat-form-field>

  <div style="width: 100%; margin-top: 10px;">
    <mat-label>Géneros Musicales</mat-label>
    <div *ngFor="let genre of musicGenres; let i = index" style="margin-bottom: 5px;">
      <mat-checkbox [formControl]="musicGenresControls.at(i)">
        {{ genre }}
      </mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" color="primary">Guardar</button>
</mat-dialog-actions>