<div class="container mt-4">
    <h2 class="text-center">Locales ({{ (venues$ | async)?.length }} encontrados)</h2>
  
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let venue of (venues$ | async)">
        <div class="card h-100" (click)="goToDetails(venue.reference)">
          <img [src]="venue.imageUrl" alt="Imagen de {{ venue.name }}" class="card-img-top" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">{{ venue.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>