<h2 mat-dialog-title style="margin-bottom: 1px;">Crear Venue</h2>

<mat-dialog-content style="display: flex; flex-direction: column; gap: 22px; width: 100%; max-width: 400px;">
  <form [formGroup]="venueForm" style="display: flex; flex-direction: column; gap: 22px; margin-top: 10px;">
    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="venueForm.get('name')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label>Teléfono</mat-label>
      <input matInput type="tel" formControlName="phone" required maxlength="9">
      <mat-error *ngIf="venueForm.get('phone')?.hasError('required')">
        El teléfono es obligatorio.
      </mat-error>
      <mat-error *ngIf="venueForm.get('phone')?.hasError('pattern')">
        El número debe tener exactamente 9 dígitos.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label>Instagram</mat-label>
      <input matInput type="text" formControlName="instagram">
    </mat-form-field>

    <mat-checkbox formControlName="LGTBFriendly">LGTB Friendly</mat-checkbox>

    <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label>URL de la Imagen</mat-label>
      <input matInput formControlName="imageUrl" (input)="onImageUrlChange(venueForm.get('imageUrl')?.value)">
      <mat-error *ngIf="venueForm.get('imageUrl')?.hasError('required')">
        La URL de la imagen es obligatoria.
      </mat-error>
    </mat-form-field>

    <div *ngIf="imageUrlPreview">
      <img [src]="imageUrlPreview" alt="Previsualización de la imagen" style="max-width: 100%; max-height: 200px; object-fit: cover; margin-top: 10px;" />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions >
  <button mat-dialog-close mat-raised-button>Cancelar</button>
  <button 
    (click)="create()" 
    [disabled]="!venueForm.valid" 
    color="primary" 
    mat-raised-button
  >
    Crear
  </button>
</mat-dialog-actions>