<div class="container mt-4">
  <h2 class="mb-4 text-center">Validate Reservation</h2>

  <div *ngIf="message" class="alert" [ngClass]="{'alert-success': validReservation, 'alert-danger': !validReservation}">
    {{ message }}
  </div>

  <div *ngIf="isCameraActive" class="scanner-container">
    <zxing-scanner
      [formats]="[BarcodeFormat.QR_CODE]"
      [device]="selectedDevice"
      (scanSuccess)="onCodeResult($event)">
    </zxing-scanner>
  </div>

  <div *ngIf="validReservation" class="card shadow-sm mt-4">
    <div class="card-body">
      <h3 class="card-title">Reservation Details:</h3>
      <ul class="list-unstyled">
        <li class="mb-2"><strong>ID:</strong> {{ validReservation.reference }}</li>
        <li class="mb-2"><strong>Name:</strong> {{ validReservation.user.firstName }}</li>
        <li class="mb-2"><strong>Last Name:</strong> {{ validReservation.user.lastName }}</li>
        <li class="mb-2"><strong>Access Type:</strong> {{ validReservation.accessType.title }}</li>
        <li class="mb-2"><strong>Status:</strong> {{ validReservation.status }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="!isCameraActive" class="text-center mt-4">
    <button class="btn btn-primary" (click)="restartScanning()">
      Scan Another Reservation
    </button>
  </div>
</div>

