<main class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg mb-5">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">Bienvenido a Nightlife</h2>
          <p class="card-text mb-4">¡Gracias por visitar nuestra página! Aquí podrás registrarte, conocer los eventos más recientes y mucho más.</p>
          <p class="card-text mb-5">¡Esperamos que disfrutes tu experiencia con nosotros!</p>
          <!-- Mostrar solo si el usuario NO está autenticado -->
          <div *ngIf="!(isAuthenticated$ | async)">
            <a routerLink="/register" class="btn btn-primary me-3">Registrarse</a>
            <a routerLink="/login" class="btn btn-secondary me-3">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>