<main class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg mb-5">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">Bienvenido a Nightlife</h2>
          <p class="card-text mb-4">¡Gracias por visitar nuestra página! Aquí podrás registrarte, conocer los eventos más recientes y mucho más.</p>
          <p class="card-text mb-5">¡Esperamos que disfrutes tu experiencia con nosotros!</p>
          <a href="/register" class="btn btn-primary">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</main>