<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">Nightlife</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item" *ngIf="isAuthenticated$ | async">
          <a class="nav-link" routerLink="venues">
            <mat-icon>location_city</mat-icon>
            Venues
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
       <!-- Mostrar si NO está autenticado -->
       <li class="nav-item" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav-link" routerLink="register">
          <mat-icon>person_add</mat-icon>
          Registrarse
        </a>
      </li>
      <li class="nav-item" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav-link" routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </li>

      <!-- Mostrar si está autenticado -->
      <li class="nav-item" *ngIf="isAuthenticated$ | async">
        <a class="nav-link" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated$ | async">
        <a class="nav-link" routerLink="profile"> <mat-icon>account_circle</mat-icon>
          Perfil
        </a>
      </li>
      
      </ul>
    </div>
  </div>
</nav>